.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid red;
    text-align: center;
}

form {
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
}

input {
    margin: 3px;
}

