
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Archivo", sans-serif;
    background-color: #192824;
    text-align: center;
  }
  
  p {
    margin: calc(38vh - 40px) auto 0 auto; /* This puts it in the center of the page */
    font-size: 65px;
    text-transform: uppercase;
    font-family: "Archivo Black", "Archivo", sans-serif;
    font-weight: normal;
    display: block;
    height: auto;
    text-align: center;
  }

  h3 {
    margin: calc(28vh - 40px) auto 0 auto; /* This puts it in the center of the page */
    font-size: 50px;
    text-transform: uppercase;
    font-family: "Archivo Black", "Archivo", sans-serif;
    font-weight: normal;
    display: block;
    height: auto;
    text-align: center;
  }

  h4 {
    margin: calc(8vh - 40px) auto 0 auto; /* This puts it in the center of the page */
    font-size: 30px;
    text-transform: uppercase;
    font-family: "Archivo Black", "Archivo", sans-serif;
    font-weight: normal;
    display: block;
    height: auto;
    text-align: center;
  }

  h5 {
    /* margin: calc(28vh - 40px) auto 0 auto; /* This puts it in the center of the page */
    font-size: 25px;
    text-transform: uppercase;
    font-family: "Archivo Black", "Archivo", sans-serif;
    font-weight: normal;
    display: block;
    height: auto;
    text-align: center;
  }

  table {
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Courier New', monospace;
    display: block;
    height: auto;
    text-align: center;
    color: white;
  }

  input {
    opacity: 35%;
    font-family: 'Courier New', monospace;
    text-align: center;
    border: 3px groove rgb(22, 24, 23);
    background-color: rgb(21, 52, 54);
    border-radius: 60px;
    margin: 6px;
    height: 1.75em;
    width: 13em;
    color: rgb(213, 228, 223);
  }

  #expenseDescription {
      width: 25em;
  }
  
  #idTicketTable{
    opacity: 75%;
    position: middle;
    margin-left: auto;
    margin-right:auto;
  }

  .login{
    opacity: 75%;
    position: middle;
    margin-left: auto;
    margin-right:auto;
    width: 255px;
}

  .shadowButton {
    opacity: 50%;
    text-transform: uppercase;
    border: 4px solid #111516ef;
    background-color: rgb(32, 73, 77);
    border-radius: 40px;
    margin: 15px;
    height: 1.9em;
    width: 7em;
    color: rgb(172, 182, 187);
    font-family: 'Courier New', monospace;
    font-weight: bold;
  }
  
  .logo-noglo {
  	opacity: 70%;
  	color: rgb(172, 182, 187);
  	font-size: 15px;
  }
  
  .logo-1 {
    color: white;
    animation: neon 3s infinite;
  }
  
  #idTicketTable {
  	opacity: 85%;
  }

  :root {
    --shadow-color: #a09eff;
    --shadow-color-light: white;
  }
  
  @keyframes neon {
    0% {
      text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
      0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
      0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
    }
    50% {
      text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
      0 0 5px var(--shadow-color-light), 0 0 15px var(--shadow-color-light), 0 0 25px var(--shadow-color-light),
      0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 60px var(--shadow-color), 0 0 80px var(--shadow-color), 0 0 110px var(--shadow-color), 0 0 210px var(--shadow-color);
    }
    100% {
      text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
      0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
      0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
    }
  }

